@inject IJSRuntime jsr
@inject IGlobal global

<p>
	@if (string.IsNullOrEmpty(user))
	{
		<span><a href="/register">Register</a> <a href="/login">Login</a></span>
	}
	else
	{
		<span>Hello, @user  <a href="/logout">(Logout)</a></span>
	}
</p>

@code {
	string user = String.Empty;

	protected override async Task OnInitializedAsync()
	{
		base.OnInitializedAsync();
		user = global.get_user();
	}
}